@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Shops</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <form method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="search" class="form-control" asp-for="SearchTerm" name="searchTerm" />
                <span class="btn-light">
                    <button class="btn btn">
                        <i class="btn"></i>
                    </button>
                </span>
            </div>
        </div>
    </form>

    @foreach (var s in Model.Shops)
    {
        <div>
            <a asp-action="Details" asp-route-id="@s.Id">@s.Name</a>
            <p>
                @s.Description
                <br />
                <a asp-action="Edit" asp-route-id="@s.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@s.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@s.Id">Delete</a>
            </p>
        </div>
    }
</div>